$blurple: #526DD1
$green: #43b581
$yellow: #faa61a
$red: #ba2b2d
$redlight: #d23d3f
$dark: #e20074
$darker: #e20074
$lightGray: #666
$light: #4A4D53
$mggrey: #333333
$mgmagenta: #e20074
$mgbgcolor: #f8f9fa
$mgtext: #000000